.popup{
    padding: .5rem;
}
.popup_inner{
    background-color: rgb(250, 161, 161);
    border-radius: .5rem;
    padding: 1rem 3rem 7rem 3rem;
}
.popup_inner h1{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.create_item{
    border-radius: .3rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.create_1{
    display: flex;
    gap: .5rem;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.create_1 label{
    width: 8rem;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}
.create_1 input{
    padding: 0 1rem 0 1rem;
    width: 20rem;
    height: 2rem;
    margin: 0;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: .2rem;
    box-shadow: 0 0 1rem rgb(206, 206, 206);
    transition: .3s linear;
}
.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
}
.create_1 textarea{   
    padding-left: 1rem;
    font-size: 1rem;
    width: 20rem;
    height: 100px;
    border-radius: .2rem;
    box-shadow: 0 0 1rem rgb(206, 206, 206);
    transition: .3s linear;
    border: none;
    outline: none;
}
.create_1 input:hover{
    transform: scale(1.1);
    background-color: rgb(255, 186, 186);
}
.create_1 textarea:hover{
    transform: scale(1.1);
    background-color: rgb(255, 186, 186);
}
.controll{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: .5rem;
    padding-right: 3rem;
}
.controll button{
    font-weight: bold;
    font-size: 1.3rem;
    border: none;
    border-radius: .3rem;
    background-color: var(--color-green);
    width: 10rem;
    height: 2.5rem;
    transition: 0.3s linear;
}
.controll button:hover{
    transform: scale(1.2);
    color: aliceblue;
}
/* //// */
.view_image{
    margin-left: 2.5rem;
    width: 28rem;
    height: 15rem;
    border-radius: .5rem;
    margin-top: 1rem;
    padding: .5rem;
    box-shadow: inset 0 0 1rem rgb(102, 101, 101);
}
.view_image img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    border-radius: .5rem;
    transition: .3s linear;
    padding: 1rem;
}
.view_image img:hover{
    transform: scale(1.1);
    background-color: rgb(175, 172, 172);
}

