.graph{
    display: flex;
    justify-content: start;
    width: 100%;
    height:93vh;
    background-color: var(--color-text);
    padding: 5rem;
    background-image: url(../assets/image/data_analyticstrendsmin.avif);
    background-size: cover;
}
.graph canvas{
    margin: 0;
    color: black;

}
